.pmn{transition: 0.2s; color: #000!important; padding: 15px 28px; border: 1px solid transaprent; border-radius: 5px;}
.pmn:hover{transition: 0.2s; color: rgb(95, 124, 255)!important; background-color: #f5f5f5;}
.mah{min-height: 2vh;}